/* < ========== Fonts ========== > */
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i');



html, body, div, label, button, input {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  padding: 0 15% 0 15%;
}

h1 {
  text-align: center;
  font-size: 4.7em;
  text-decoration: none;
  margin-top: .4em;
}

#deli {
  font-family: 'Roboto Slab', Arial, Helvetica;
  font-size: 1.5em;
  letter-spacing: 4px;
}

#licious {
  font-family: 'Marck Script', Arial, Helvetica;
  font-size: 1.4em;
}

header > p {
  text-align: center;
  font-size: 1.3em;
  margin-top: -20px;
  margin-bottom: 3.4em;
}

#split {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

/*           Adds space between checkbox and its name        */
input[type=radio], input[type=checkbox] {
  margin-right: 8px;
  font-size: 1em;
}

/* Style for output sections */
div#order {
  position: fixed;
  width: 21.5em;
  text-align: center;
  background-color: #EFEFEF;
  max-height: 58vh;
  overflow-y: scroll;
}

h2 {
  color: black;
  font-family: 'Marck Script', Arial, Helvetica;
  text-decoration: underline;
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 5px;
}

#order > h2 {
  text-align: center;
  margin-top: 5px;
  font-size: 2em;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

form {
  text-align: center;
  padding: 0 10% 0 10%;
}

fieldset {
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
  margin-bottom: 5%;
  border-color: gray;
}

legend {
  font-size: 2.5em;
  font-family: 'Marck Script', Arial, Helvetica;
  text-decoration: underline;
}

label {
  display: flex;
  margin-bottom: 7px;
}

/*           Adds space between columns        */
.meats div, .toppings div, .condiments div {
  padding-left: 1.8em;
}

/*           Centers all the checkboxes within the fieldsets         */
.breads, .meats, .cheeses, .toppings, .condiments, .sides, .confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*           Media to align all divs under 1280px (checkboxes)          */
@media (max-width: 80em) {
  .breads div, .meats div, .cheeses div, .toppings div, .condiments div, .sides div {
    min-width: 10em;
    padding-left: 10%;
  }
}

/* @media (min-width: 81em) {
   .toppings div, .condiments div {

  }
} */


ul#radioOutput, ul#checkboxOutput {
  color: black;
  padding-left: 10px;
  text-align: left
}

ul, li {
  font-family: 'Roboto Slab', Arial, Helvetica;
  padding-left: 1em;
  font-size: .9em;
}

li {
  margin: 0;
  text-align: left;
  list-style-type: none;
  /* Added stylr so no bullets show in FF */
}

/*           Styling for Submit-button       */
button {
  margin-top: 10px;
  text-align: center;
  padding: 15px 15px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
  background-color: #FFFF78;
}

/*          CONFIRM PAGE           */
main {
  padding: 10% 30% 0 30%;
  font-family: 'Roboto Slab', Arial, Helvetica;
  text-align: center;
  font-size: 1.5em;
}

img {
  border-radius: 10px;
}
